app = "superstream-computer-1"
primary_region = "iad"

auto_stop_machines = "off"
auto_start_machines = true
min_machines_running = 1

[build]
  dockerfile = "Dockerfile"

[processes]
  app = "--transport http --port 8000 --blankPageUrl https://superhero.sh/chat --displayHeight 500 --displayWidth 720 --stream auto --previewPath /preview --publicBaseUrl https://superstream-computer-1.fly.dev --streamTarget mediamtx --mtxRtspUrl rtsp://superstream-mediamtx.internal:8554/streams/a1c19514-7623-400e-abeb-7b4defeebdbb/computer --mtxHlsUrl http://superstream-mediamtx.internal:8888/streams/a1c19514-7623-400e-abeb-7b4defeebdbb/computer-aac/index.m3u8 --postActionDelayMs 2000 --actionScreenshots manual --automationDriver puppeteer --stealth"

[[services]]
  processes = ["app"]
  internal_port = 8000
  protocol = "tcp"

  [services.concurrency]
    type = "connections"
    soft_limit = 200
    hard_limit = 400

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    method = "GET"
    path = "/healthz"
    protocol = "http"

[vm]
  cpu_kind = "performance"
  cpus = 2
  memory_mb = 4096
